h1 {
  text-align: center;
  font-family: 'Concert One';
}

.font-weight-300 {
  font-weight: 100;
}

.en-navbar-containter {
  text-align: left;
}

.en-navbar {
  width: 100%;
  background-color: white;
  padding: 0 3rem 0 3rem;
}

.en-logo-img {
  display: inline-block;
  width: 72px;
  height: 99px;
  margin-right: 1px;
}

.en-logo-heading {
  display: inline-block;
  margin: 0;
  text-align: left;
  line-height: 1.5rem;
  vertical-align: middle;
  color: #008890;
  font-size: 1.5rem;
  font-family: 'Aleo',  Noto-Serif;
}

.nav-link {
  color: #008890;
  font-family: 'Fira Sans', 'Concert One', 'Cabin Condensed';
}

.en-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 50%);
      background-color: #25D366;
      display: flex;
}

.en-fixed:hover {
  background-color: #66FF99;
}

.en-whatsapp-fixed {
  color: white;
    /* width: 28px;
    height: 28px; */
}

.en-color {
  color: #008890;
}

#frontpage {
  /* background-color: #FFFF; */
  /* background: linear-gradient(to bottom,#f6f6f8,#f6f6f8 50rem,#e9f2f4 50.1rem); */
  padding: 6rem 5% 8rem;
  font-family: 'Concert One', 'Fira Sans', 'Cabin Condensed';
}

/* .en-bd-image {
  background-image: url("../images/family-removebg.png");
  background-repeat: no-repeat;
  background-size:     cover;
  background-position: center center;
    filter: grayscale(0.5);
    height: 50vh;
    width: 100%;
} */

.frontpage-img {
  border-radius: 20%;
}

.frontpage-heading {
  /* color: #5a5a5a; */
  text-align: center;
}

.frontpage-img {
  width: 100%;
  /* height: 100%; */
}

.frontpage-col {
  padding: 2rem 0 0 0;
}

#services {
  /* background-color: rgb(117,181,181); */
  /* background-color: #DAF7A6; */
  background-color: rgba(50,189,199,.1);
  /* background-color: #f6f6f8; */
  padding: 5rem 5% 8rem;
  font-family: 'Fira Sans', 'Cabin Condensed';
  /* color: #008890; */
}

.en-services-header {
  padding-bottom: 3rem;
}

.services-col {
  padding: 4rem 3rem 4rem 0;
  display: inline-block;
  vertical-align: middle;
}

.services-row {
  display: flex;
  align-items: center;
}

.services-img {
  line-height: normal;
  margin-right: 20px;
}

.services-header {
  font-weight: bold;
  margin: 0;
  display: inline-block;
  width: 80%;
}

#testimonials {
  /* background-color: #CAB8FF; */
  /* background-color: rgba(80,159,169,.1); */
  color: black;
  padding: 4rem 0 4rem;
  font-family: 'Cabin Condensed', 'Concert One', 'Fira Sans';
}

.testimonial-star {
  padding-bottom: 2rem;
  color: #ffc107;
}

.testimonal-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-name {
  text-align: right;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#contacts {
  /* background-color: rgb(117,181,181); */
  /* background-color: #DAF7A6; */
  /* background-color: #AFE1AF; */
  background-color: rgba(50,189,199,.1);
  /* background-color: #f6f6f8; */
  padding: 4rem 5% 8rem;
}

.contacts-heading {
    font-family: 'Concert One', 'Fira Sans';
}

.contacts-video {
max-height: 422px;
}

.contacts-col {
  padding: 5% 2% 0 0;
  text-align: center;
}

.contacts-icon {
  line-height: normal;
}

.contacts-details {
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 2rem;
}

.contacts-row {
  padding-bottom: 1.5rem;
  display: flex;
}

.contacts-text {
  padding-left: 1rem;
  margin: 0 1rem 1rem 1rem;
  text-align: left;
}

.email-text {
  display: inline-block;
  padding-left: 2rem;
}

#footer {
  color: #bfbfbf;
  padding: 2% 10%;
  text-align: center;
  font-weight: lighter;
  font-family: 'Fira Sans';
}

.footer-icon {
  margin: 0.75rem;
  text-align: center;
}
a .footer-icon {
  color: #bfbfbf;
}

.footer-icon:hover {
  color: black;
}
