.en-navbar-containter {
  text-align: left;
}

.en-navbar {
  width: 100%;
background-color: white;
    padding: 0 3rem 0 3rem;
}

.en-logo-img {
  display: inline-block;
  width: 72px;
  height: 99px;
  margin-right: 1px;
}

.en-logo-heading {
  display: inline-block;
  margin:0;
  text-align: left;
  line-height: 2rem;
  vertical-align: middle;
  color: #008890;
  font-size: 2rem;
  font-family: Noto-Serif;
}

.nav-link {
  color: #008890;
}

#frontpage {
  background-color: #FFFF;
  /* background: linear-gradient(to bottom,#f6f6f8,#f6f6f8 50rem,#e9f2f4 50.1rem); */
  color: #937DC2;
  padding: 6rem 6rem 8rem;
}

.frontpage-heading {
  color: #5a5a5a;
  text-align: center;
}

.frontpage-img {
  width: 100%;
  /* height: 100%; */
}

.frontpage-col {
  padding: 2rem 3rem 2rem 0;
}

#services {
  background-color: #EBC7E8;
  padding: 6rem 6rem 8rem;
}

.services-col {
  padding: 2rem 3rem 2rem 0;
  display: inline-block;
  vertical-align: middle;
}

.services-row {
  display: flex;
  align-items: center;
}

.services-img {
  line-height: normal;
  margin-right: 20px;
}

.services-header {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  display: inline-block;
  width: 80%;
}

.services-chinese {

}

#testimonials {
  background-color: #BFACE0;
  padding: 4rem 0 4rem;
}

.testimonial-star{
  padding-bottom: 2rem;
  color: #ffc107;
}

.testimonal-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#contacts {
  /* background-color: #BFACE0; */
  padding: 4rem 6rem 8rem;
}

.contacts-img {
  width: 100%;
}

.contacts-col {
  padding: 1rem 1rem 0 0;
}

.contacts-icon {
  line-height: normal;
}

.contacts-details {
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 2rem;
}

.contacts-row {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.contacts-text {
  padding-left: 1rem;
  margin: 1rem;
}

.email-text {
  display: inline-block;
  padding-left: 2rem;
}

#footer {
  color: #bfbfbf;
  padding: 3% 10%;
  text-align: center;
  font-weight: lighter;
}

.footer-icon {
  margin: 1%;
  text-align: center;
}
